NODE_ENV=
PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
# CORS_ORIGIN is the origin of the client app. It should be the local URL of the client app.
CORS_ORIGIN=